<div class="footer">
	<span class="footer-elements"><mat-slide-toggle color="primary" [checked]="showTextContent" (change)="toogleShowTextContent($event)">Show Text Content</mat-slide-toggle></span>
	<span class="footer-elements"><mat-slide-toggle color="primary" [checked]="showHTML" (change)="toogleShowHTML($event)">Show As Html</mat-slide-toggle></span>
	<span class="footer-elements"><mat-slide-toggle color="primary" [checked]="stopClipboardRecording" (change)="toogleStopClipboardRecording($event)">Pause Clipboard Recording</mat-slide-toggle></span>
	<!-- <span class="footer-elements"><mat-slide-toggle color="primary" [checked]="showPopUp" [disabled]="true" (change)="toogleShowPopUp($event)">Always show Extension Pop up (Currently Not Availble)</mat-slide-toggle></span> -->
	<span class="footer-elements">
		<button mat-raised-button color="warn" (click)="cleanHistory()">{{selectMode ? "Remove Selected" : "Remove All"}}</button>
		<button *ngIf="selectMode" mat-raised-button color="primary" class="button-left" (click)="cancelCleanHistory()">Cancel</button>
	</span>
</div>