<div class="base">
	<div class="title">
		{{title}}
	</div>
	<div class="list-container">
		<app-loading-screen [onload]="onload"></app-loading-screen>
		<div class="no-content" *ngIf="copyedEles.length &lt; 1 && !onload">
			No Copied Content
		</div>
		<div class="{{selectMode ? 'list-outer-selected' : 'list-outer'}}" *ngFor="let copyedEle of copyedEles; let eleIndex=index"  [attr.data-index]="eleIndex" (mousedown)="focusElement(eleIndex)" (mouseup)="unfocusElement()">
			<mat-checkbox class="checkbox" *ngIf="selectMode" color="primary" [checked]="copyedEle.selected" (change)="switchEleSelection(eleIndex)">
				<div class="{{selectMode ? 'list-selected' : 'list'}}">
					<span class="hover-element" (click)="copy(copyedEle.text)">				
						<span>{{copyedEle.text}}</span>
					</span>
					<span class="hover-element" *ngIf="showTextContent" (click)="copy(copyedEle.textContent)">
						<span>Text Content: {{copyedEle.textContent}}</span>
					</span>
					<span class="hover-element" *ngIf="showHTML" (click)="copy(copyedEle.html)">
						<span *ngIf="copyedEle.html.length &lt; 1">Html: {{copyedEle.html}}</span>
						<span *ngIf="copyedEle.html.length &gt; 0">
							<div>Html</div>
							<div class="inner-content" disabled [innerHtml]="copyedEle.html"></div>
						</span>						
					</span>				
				</div>
			</mat-checkbox>
			<div class="list" *ngIf="!selectMode">
				<span class="hover-element" (click)="copy(copyedEle.text)">				
					<span>{{copyedEle.text}}</span>	
					<span class="hover-show"><mat-icon>file_copy</mat-icon></span>		
				</span>
				<span class="hover-element" *ngIf="showTextContent" (click)="copy(copyedEle.textContent)">
					<span>Text Content: {{copyedEle.textContent}}</span>
					<span class="hover-show"><mat-icon>file_copy</mat-icon></span>
				</span>
				<span class="hover-element"  *ngIf="showHTML" (click)="copy(copyedEle.html)">
					<span *ngIf="copyedEle.html.length &lt; 1">Html: {{copyedEle.html}}</span>
					<span *ngIf="copyedEle.html.length &gt; 0">
						<div>Html</div>
						<div class="inner-content" disabled [innerHtml]="copyedEle.html"></div>
					</span>
					<span class="hover-show"><mat-icon>file_copy</mat-icon></span>
				</span>				
			</div>
		</div>
	</div>
	<app-footer
		[selectMode]="selectMode"
		[showTextContent]="showTextContent"
		[showHTML]="showHTML"
		[stopClipboardRecording]="stopClipboardRecording"
		[showPopUp]="alwaysShowPopUp"
		(toogleShowTextContentEvent)="toogleShowTextContent($event)"
		(toogleShowHTMLEvent)="toogleShowHTML($event)"
		(toogleStopClipboardRecordingEvent)="toogleStopClipboardRecording($event)"
		(cleanHistoryEvent)="confirmCleanHistory()"
		(cancelCleanHistoryEvent)="cancelCleanHistory()"
	></app-footer>
</div>