.base {
	width: 300px;
	overflow: hidden;
}

.base::-webkit-scrollbar, .base *::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.base::-webkit-scrollbar-corner, .base *::-webkit-scrollbar-corner {
	background-color: #00000000;
}

.base::-webkit-scrollbar-thumb, .base *::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #999;
}

.title {
	background-color: #3f51b5;
	padding: 10px;
	font-size: large;
	color: #ffffff;
}

.list-container {
	position: relative;
	background-color: #ffffff;
	/* border: 1px solid #808080; */
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 200px;
	max-height: 430px;
}

.no-content {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.inner-content {
	/* display: flex;
	justify-content: center;
	align-content: center; */
	max-width: 270px;
	max-height: 270px;
	overflow: auto;
}

.list {
	display: flex;
	font-size: medium;
	flex-direction: column;
	padding: 0 !important;
	color: #000000;
	border-bottom: 1px solid #ccc;
}

.list > .hover-element {
	word-break: break-all;
	padding: 10px;
}

.list > .hover-element:nth-child(even) {
	background-color: #e7e9eb;
}

.list > .hover-element:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #1c86ff99;
	/* border-radius: 5px; */
}

.hover-element {
	position: relative;
}

.hover-show {
	position: absolute;
	color: #ccc;
	top: 0;
	right: 10px;
	display: none;
}

.hover-element:hover > .hover-show {
	display: block;
}