.base {
	width: 300px;
	overflow: hidden;
}

.base::-webkit-scrollbar, .base *::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.base::-webkit-scrollbar-corner, .base *::-webkit-scrollbar-corner {
	background-color: #00000000;
}

.base::-webkit-scrollbar-thumb, .base *::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #999;
}

.title {
	background-color: #3f51b5;
	padding: 10px;
	font-size: large;
	color: #ffffff;
}

.list-container {
	position: relative;
	background-color: #ffffff;
	/* border: 1px solid #808080; */
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 200px;
	max-height: 350px;
}

.no-content {
	padding-top: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.inner-content {
	/* display: flex;
	justify-content: center;
	align-content: center; */
	max-width: 270px;
	max-height: 270px;
	overflow: auto;
}

.list-outer {
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.list-outer-selected {
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

:host::ng-deep.mat-checkbox{
	width: 100%;
}

:host::ng-deep.mat-checkbox-label{
	width: 100%;
}

:host::ng-deep.mat-checkbox-layout{
	padding-right: 10px;
	white-space: inherit;
	width: 100%;
}

:host::ng-deep.mat-checkbox-inner-container{
	order: 1;
	margin-left: 8px;
	margin-right: 8px;
}

.list {
	display: flex;
	width: 100%;
	font-size: medium;
	flex-direction: column;
	padding: 0 !important;
	color: #000000;
}

.list-selected {
	display: flex;
	width: 100%;
	font-size: medium;
	flex-direction: column;
	padding: 0 !important;
	color: #000000;
}

.hover-element:nth-child(even) {
	background-color: #e7e9eb;
}

.list > .hover-element:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #1c86ff99;
	/* border-radius: 5px; */
}

.hover-element {
	position: relative;
	word-break: break-all;
	padding: 10px;
	user-select: none;	
}

.hover-show {
	position: absolute;
	color: #989898;
	bottom: 0;
	right: 10px;
	display: none;
}

.hover-element:hover > .hover-show {
	display: block;
}